$section-space: 8px;
$button-size: 50px;
$height: 25px;
$text-color: #776E65;

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

@mixin animation-fill-mode($args...) {
  -webkit-animation-fill-mode: $args;
  -moz-animation-fill-mode: $args;
  animation-fill-mode: $args;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

.board {
  padding: 5px;
  border-radius: 7px;
  position: relative;
}

#video-wrapper {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 auto;
  width: 554px;
  height: 416px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.rect {
  position: absolute;
  border: 1px solid red;
  font-size: 24px;
}

.block-hid {
  display: none;
}

.buttons-container {
  margin-top: $section-space;
  text-align: center;
}

.buttons-container-disabled {
  display: none;
}

#camera-button {
  background-image: url("../img/photo-camera.png");
}

#folder-button {
  background-image: url("../img/folder.png");
  margin-left: $button-size;
}

#image-input {
  display: none;
}

#camera-button, #folder-button {
  background-color: #22caee;
  background-size: $button-size;
}

.button {
  width: $button-size;
  height: $button-size;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 40px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #dcb;
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}

.message-container {
  text-align: center;
}

.message {
    opacity: 0;
    right: 30px;
    color: red;
    font-size: $height;
    line-height: $height;
    font-weight: bold;
    color: rgba($text-color, .9);
    z-index: 100;
    animation-name: fade;
    animation-duration: 1.2s;
}
